body {
    background-color: black;
}

.reveal h1,
.reveal h2,
.reveal h3 {
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}


.cols{
    display: flex;
}

.col{
    flex: 1;
}
